<app-header />
<main>
  <ul id="users">
    <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (onSelect)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[1].id"
        [avatar]="users[1].avatar"
        [name]="users[1].name"
        (onSelect)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (onSelect)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
        [id]="users[3].id"
        [avatar]="users[3].avatar"
        [name]="users[3].name"
        (onSelect)="onSelectUser($event)"
      />
    </li>
  </ul>
  <app-task [name]="selectedUser.name" />
</main>
<!-- [title]="users[3].name"
    [summary]="users[3].name"
    [dueDate]="users[3].name"
    [id]="users[3].name"
    [userId]="users[3].name" -->
